ENDPOINT=revshell.services.example.com
ENDPOINTUSR=reverseshell
ENDPOINTPORT=1234
ENDPOINTHOSTKEY='revshell.services.example-com ssh-ed25519 AAAAC3NzaC1lZDI1XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
LOCALSSHPORT=22
SSHPRIVKEY='-----BEGIN OPENSSH PRIVATE KEY-----
.....
-----END OPENSSH PRIVATE KEY-----'

